@model ATV_3bi.Models.Funcionario
@{
    ViewBag.Title = "Listar";
}

<h2>Usuário Cadastrado</h2>
@using (Html.BeginForm())
 {
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">@Html.DisplayNameFor(m => m.FuncCod)</div>
        <div class="editor-field">@Html.DisplayFor(m => m.FuncCod)</div>

        <div class="editor-label">@Html.DisplayNameFor(m => m.FuncNome)</div>
        <div class="editor-field">@Html.DisplayFor(m => m.FuncNome)</div>

        <div class="editor-label">@Html.DisplayNameFor(m => m.FuncCpf)</div>
        <div class="editor-field">@Html.DisplayFor(m => m.FuncCpf)</div>

        <div class="editor-label">@Html.DisplayNameFor(m => m.FuncRg)</div>
        <div class="editor-field">@Html.DisplayFor(m => m.FuncRg)</div>

        <div class="editor-label">@Html.DisplayNameFor(m => m.FuncDtNasc)</div>
        <div class="editor-field">@Html.DisplayFor(m => m.FuncDtNasc)</div>

        <div class="editor-label">@Html.DisplayNameFor(m => m.FuncEnd)</div>
        <div class="editor-field">@Html.DisplayFor(m => m.FuncEnd)</div>

        <div class="editor-label">@Html.DisplayNameFor(m => m.FuncCel)</div>
        <div class="editor-field">@Html.DisplayFor(m => m.FuncCel)</div>

        <div class="editor-label">@Html.DisplayNameFor(m => m.FuncEmail)</div>
        <div class="editor-field">@Html.DisplayFor(m => m.FuncEmail)</div>

        <div class="editor-label">@Html.DisplayNameFor(m => m.FuncCargo)</div>
        <div class="editor-field">@Html.DisplayFor(m => m.FuncCargo)</div>

        <br />
        @Html.ActionLink("Voltar", "Index", "Home")
    </fieldset>
 }

